# Add your dependencies here.
# See https://pip.pypa.io/en/latest/cli/pip_install/#requirements-file-format
# for how to format them
pandas~=1.3.5
scikit-learn~=1.0.2
python-slugify
matplotlib~=3.5.0
opencv-contrib-python
pydot~=1.4.2
majka~=0.9
seaborn~=0.11.2
requests~=2.26.0
click~=8.0.3
numpy~=1.21.5
nltk~=3.6.5
pillow~=8.4.0
openpyxl~=3.0.9