data/vocabularies/corpus/source/en-cs.txt
scripts/dataset_handler/preprocessing/datasets/wdc_dataset/*
venv/*
data/wdc_dataset/data_files/*
data/wdc_dataset/dataset/*
__pycache__/*
*.pdf
*.csv
.idea/*
scripts/dataset_handler/preprocessing/images/image_hash_creator/node_modules/*
